/* Custom Styles */
body {
  font-family: "Poppins", sans-serif;
  line-height: 1.6;
  color: #333;
}
.align-items-center {
  align-items: center !important;
  padding-top: 2rem;
}
.navbar {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#profile {
  padding-top: 100px;
}

.card {
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.social-icons .btn {
  margin: 0 10px;
}

/* Skills Section */
#skills .card {
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

#skills .card:hover {
  transform: translateY(-10px);
}

#skills .card-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1.5rem;
}

#skills ul {
  list-style: none;
  padding-left: 0;
}

#skills ul li {
  margin-bottom: 10px;
  font-size: 1.1rem;
}

#skills .fa {
  color: #007bff; /* Bootstrap primary color */
}
